<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wishlist</title>
  <link rel="stylesheet" href="/CSS/style.css">

  <!--FONTS-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Roboto:wght@100&family=Sedgwick+Ave+Display&family=Source+Code+Pro:ital,wght@1,300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Quicksand:wght@300;600&family=Roboto:wght@100&family=Sedgwick+Ave+Display&display=swap" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">

</head>
<body>
  <div class="container">
    <div class="top-body">
      <div class="header-bar">
        <% if (user){ %>
          <a href="/">
            <img src="/IMG/Wish_logo.png" id="header-img" alt="Website Logo of A Wishlist">
          </a>
          <% if (user){ %>
              <h1>Wishlist - <%= user.email %></h1>
            <% } else { %>
              <a href="/">
                <h1>Wishlist</h1>
              </a>
            <% } %>

            <div class="right-links">
              <a href="/home/<%= user.email %>">Account</a>
              <a href="/logout">log out</a>
            </div>


          <% } else { %>
            <a href="/">
              <img src="/IMG/Wish_logo.png" id="header-img" alt="Website Logo of A Wishlist">
            </a>
              <h1>Wishlist</h1>
    
            <div class="right-links">
              <a href="/login">login</a>
            </div>
          <% } %>

      </div>
                                                                        
    </div>
