<%- include('partials/header'); -%>


  <div class="center-body">
    
    <h1 id="user-wishes">GUIDE PAGE</h1>
    <div class="info-box">
        <h2 id="user-wishes">If you want to update a wish, click on the container, fill in the form and click "update"</h2>
        <img class="guide-img" src="/IMG/updated.png" alt="Picture on how to update a wish">

        <h2 id="user-wishes">If you want to delete a wish, click on the delete button</h2>
        <img class="guide-img" src="/IMG/deleted.png" alt="Picture on how to delete a wish">

        <h2 id="user-wishes">If you want to change the priority of your wish, click on the move up or move down button to reposition accordingly</h2>
        <img class="guide-img" src="/IMG/moved.png" alt="Picture on how to move a wish">

        <h2 id="user-wishes">IP Plan</h2>
        <img class="guide-img" src="/IMG/ip_plan.png" alt="Picture of the IP plan">

        <h2 id="user-wishes">Netplan</h2>
        <img class="guide-img" src="/IMG/netplan.png" alt="Picture of the netplan">
    </div>


  </div>
  <div class="bottom-body">

  </div>
  </div>

  <%- include('partials/footer'); -%>